<!-- <p>
  header works!
</p> -->
<div class="container">

<div class="row justify-content-md-center">
    <div class="col-md">
      <!-- Content -->
        Variable width content
      </div>

  
  
</div>
</div>





    <!-- <div class="carousel-caption text-center" style="margin-top: 45vh; color: black"> -->
      <!-- <h1 class="mb-4">
        Welcome
      </h1> -->

      <!-- <p>
        <strong>May all who enter as guest, leave as friends.</strong>
      </p> -->

      <!-- <p class="mb-4 d-none d-md-block">
        <i>"Just because a man lacks the use of his eyes doesn't mean he lacks vision." -Stevie Wonder</i>
      </p> -->

      <!-- <a href="#" class="nav-link border border-light rounded waves-effect waves-lightt">My Git HUB -->
        <!-- <i class=""></i> -->
      <!-- </a> -->
    <!-- </div> -->