<!-- <p>
  header works!
</p> -->
<div class="container-fluid " style="background-image: url(../../assets/photos/winter.jpg); height: 100vh;background-position: center;
background-repeat: no-repeat;
background-size: cover;

background-repeat: no-repeat;
width: 100%;
margin: 0;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
">

<div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="text-center white-text mx-5 wow fadeIn" style="margin-top: 45vh;">
      <h1 class="mb-4">
        Welcome
      </h1>

      <p>
        <strong>May all who enter as guest, leave as friends.</strong>
      </p>

      <p class="mb-4 d-none d-md-block">
        <i>"Just because a man lacks the use of his eyes doesn't mean he lacks vision." -Stevie Wonder</i>
      </p>

      <a href="#" class="nav-link border border-light rounded waves-effect waves-lightt">My Git HUB
        <!-- <i class=""></i> -->
      </a>
    </div>
    

  </div>
  </div>



