<div class="container-fluid" style=" margin-top: 10px; padding: 5rem 0; margin-bottom: 15px; height: 85vh;">
  <div class="row" style="margin-top: 30px">
    <div class="col-md-4 " style=" text-align: right;
    width: 256px;
    margin-right: 10%;">
    <img class="img-fluid"  style="height: 256px;
    width: 256px; border-radius: 60px;" src="../../assets/photos/myself.jpg" alt="">
      <!-- <p>col 4</p> --> 
    </div>


    <div class="col-md-6"  style=" padding-left: 40px; width: 50%">
     <h1>Hello, Im Roberto.</h1>
     <p>Im currently a student in geekwise academy with the ambition to learn every aspect in the coding world. I will be fully involved on UI and UX design, front-end and back-end work. I was born and raised in the city of Chicago, lived in Mexico for nearly a year, and I currently been living in California most of my years. I am open to new experiences and I am always engaged to learn new things.</p>
     <p>I know how to code HTML,CSS and a bit of javascript. I know how to work around Angular 6 and bootstrap 3 and 4. I have alot of knowledge around Hardware in terms of computers. I can build computers for any type of usage.</p> 
     <p>I love listening to music. I listen to every genre. I enjoy video games once in a while and im a big movie goer.</p>
    </div>

  </div>

  
</div>