<div class="container-fluid" style="background-color: lightcoral; margin-top: 10px; padding-top: 10px; height: 70vh;">
  <div class="row" style="margin-top: 30px">
    <div class="col-md-4 " style="background-color: lightgreen; margin-left: 15px; margin-right: 20px;">
      <p>col 4</p>
    </div>


    <div class="col-md-5"  style="background-color: lightsteelblue; margin: auto; width: 40%; height: 60vh; max-height: 60vh">
      <p>col 8</p>
    </div>

  </div>

  <!-- <div class="row">

  </div> -->
</div>