.navbar{
    background-color: rgba(0,0,0,.2);
    padding-right: 1rem !important;
    font-weight: 300;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 1030;
    right: 0;
left: 0;
}
.fix-top{
position: fixed;
right: 0;
left: 0;
z-index: 1030;
}
/* .nav-link .nav-item{
    padding: .5rem 1rem;
    display: block;
}

.container{
    padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
width: 100%;
}
.navbar-expand-lg .navbar{
    display: flex !important;
    flex-basis: auto;
}
.navbar-nav {
    list-style: none;
}
.nav-flex-icon{
    flex-direction: row;
} */

